# Git
.git
.github
.gitignore
.gitattributes

# IDE
.cursor
.idea
.vscode
**/.DS_Store

# Dependencies
node_modules
vendor
bin
dist
build

# Logs
*.log
*.tmp
*.swp
*.swo
*~

# Environment
.env
.env.*
!.env.example

# Docs
docs
*.md
LICENSE
Makefile
scripts/*.sh

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# Tests
*_test.go
testdata

# Examples
examples
